<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each carts}}
                            <tr>
                                <td class="shoping__cart__item">
                                    <img src="{{product_img}}" alt="{{product_name}}">
                                    <h5>{{product_name}}</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    {{product_price}}
                                </td>
                                <td class="shoping__cart__quantity">
                                    {{quantity}}
                                </td>
                                <td class="shoping__cart__total">
                                    
                                </td>
                                <td class="shoping__cart__item__close">
                                    <a href="/cart/delete?id={{id}}"><i class="fa-solid fa-xmark"></i></a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Total <span></span></li>
                    </ul>
                    <a href="#" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var cartItems = document.querySelectorAll('.shoping__cart__table tbody tr');

        cartItems.forEach(function (item) {
            calculateTotalForRow(item);
        });

        calculateTotalForCart();

        function parseMoneyToFloat(moneyString) {
            const cleanedMoneyString = moneyString.replace(/[^\d.]/g, '');
            return parseFloat(cleanedMoneyString);
        }

        function calculateTotalForRow(item) {
            var priceElement = item.querySelector('.shoping__cart__price');
            var quantityElement = item.querySelector('.shoping__cart__quantity');
            var totalElement = item.querySelector('.shoping__cart__total');

            var price = parseMoneyToFloat(priceElement.textContent.trim());
            var quantity = parseInt(quantityElement.textContent);

            var total = price * quantity;

            totalElement.textContent = '$' + total.toFixed(2);
        }

        function calculateTotalForCart() {
            var totalCartElement = document.querySelector('.shoping__checkout ul li span');

            var totalValues = Array.from(cartItems).map(function (item) {
                var totalElement = item.querySelector('.shoping__cart__total');
                return parseFloat(totalElement.textContent.replace('$', '').trim());
            });

            var totalCart = totalValues.reduce(function (acc, value) {
                return acc + value;
            }, 0);

            totalCartElement.textContent = '$' + totalCart.toFixed(2);
        }
    });
</script>